[Unit]
Description=KMS Emulator in C
After=network.target

[Service]
Type=simple
User=vlmcsd
ExecStart=/usr/bin/vlmcsd -i /etc/vlmcsd/vlmcsd.ini -e -D

[Install]
WantedBy=multi-user.target